body {
  width: 385px;
  height: fit-content;
  background-color: #443737;
  justify-content: center;
}
#head {
  align-content: center;
  margin: 2px;
}
.keyshortcut {
  margin: 2px 9px;
  width: 100%;
}
#Test {
  display: none;
  font-family: "Quicksand";
  margin: 10px;
  font-size: 22px;
  color: #ff0000;
  border-radius: 6px;
  border: 1px solid #ff4d00;
  padding: 10px;
}
h3 {
  font-family: "Quicksand";
  display: inline;
  font-size: 22px;
  color: #ff0000;
}
.scroll-me {
  height: 95px;
  overflow-y: scroll;
}
.label_checkbox {
  width: 460px;
  overflow-y: hidden;
}
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin: 4px;
  padding: 2px 4px;
  white-space: nowrap;
}
.collapsible {
  background-color: #ff0000;
  font-family: "Quicksand";
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin: 4px;
  width: 97%;
  height: max-content;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #ff4d00;
}
/* .wrap{
  display: none;

} */
.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0px 0px;
  max-height: 0;
  color: azure;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #f1f1f100;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #FF0000 20%, #FF4D00 99%);
  /* background: #ff4d00f6;  */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF4D00; 
}
/* 
#443737
#272121
#FF0000
#FF4D00 */
